@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

// COMPONENTS
@import './components/index.scss';

body {
  background-color: $favColor;
}
